.listBox{
  margin-top: 50px;
    margin-left: 44px;
    margin-right: 44px;
    border: 2px solid black;
}

.list{
  text-align: center;
    margin-top: 8px;
}

.btn{
  color: white;
    background-color: black;
}

.heading{
  text-align: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
